setg verbose true

spool logs/smb_version.log
use auxiliary/scanner/smb/smb_version
set RHOSTS file:smb-hosts.txt

spool logs/mssql_ping.log
use auxiliary/scanner/mssql/mssql_ping
set RHOSTS file:mssql-hosts.txt

run
spool off

spool logs/telnet_version.log
use auxiliary/scanner/telnet/telnet_version
set RHOSTS file:telnet-hosts.txt

run
spool off

spool logs/ssh_version.log
use auxiliary/scanner/ssh/ssh_version
set RHOSTS file:ssh-hosts.txt

run
spool off

spool logs/ftp_version.log
use auxiliary/scanner/ftp/ftp_version
set RHOSTS file:ftp-hosts.txt

run
spool off

spool logs/mysql_version.log
use auxiliary/scanner/mysql/mysql_version
set RHOSTS file:3306-tcp-hosts.txt

run
spool off

#spool logs/openssl_heartbleed.log
#use auxiliary/scanner/ssl/openssl_heartbleed
#set RHOSTS file:https-hosts.txt

#run
#spool off


#spool logs/openssl_ccs.log
#use auxiliary/scanner/ssl/openssl_ccs
#set RHOSTS file:https-hosts.txt

#run
#spool off


spool logs/snmp_enum.log
use auxiliary/scanner/snmp/snmp_enum
set RHOSTS file:snmp-hosts.txt

run
spool off

spool logs/snmp_enum_hp_laserjet.log
use auxiliary/scanner/snmp/snmp_enum_hp_laserjet
set RHOSTS file:snmp-hosts.txt

run
spool off

spool logs/snmp_login.log
use auxiliary/scanner/snmp/snmp_login
set RHOSTS file:snmp-hosts.txt

run
spool off
